### 01

In [263]:
import os
import pandas as pd
ldir=os.chdir(r'C:\Users\Narshan\Python\06')
dfE1=pd.read_excel('Értekesites(nagyker).xlsx','E1')
dfE2=pd.read_excel('Értekesites(nagyker).xlsx','E2')
df=pd.concat([dfE1,dfE2],axis=1).drop_duplicates().reset_index(drop=True)
df.head(5)

,Dátum,Kategórianév,Terméknév,Mennyiség,Bevétel,Költség,Nyereség,Vevőnév,Vevő megye,2015-03-03 00:00:00,Játék,Labda,300,150000,138240,11760
0,2015-01-02,Iroda,Toll,800,320000,256000.0,64000.0,Kovács Bt,Pest,2015-03-04,Kert,Gereblye,400.0,280000.0,258048.0,21952.0
1,2015-01-05,Iroda,Toll,800,320000,204800.0,115200.0,Kovács Bt,Pest,2015-03-13,Játék,Kártya,500.0,250000.0,200000.0,50000.0
2,2015-01-13,Játék,Labda,600,300000,240000.0,60000.0,Kovács Bt,Pest,2015-03-15,Iroda,Ceruza,800.0,240000.0,268800.0,-28800.0
3,2015-01-16,Játék,Labda,600,300000,192000.0,108000.0,Kovács Bt,Pest,2015-03-16,Játék,Labda,900.0,450000.0,504000.0,-54000.0
4,2015-01-23,Játék,Labda,300,150000,120000.0,30000.0,Nagy Kft,Heves,2015-03-23,Iroda,Ceruza,1100.0,330000.0,264000.0,66000.0

### 02

In [261]:
dfE1=pd.read_excel('Értekesites(nagyker).xlsx','E1') 
dfE3=pd.read_excel('Értekesites(nagyker).xlsx','E3')
df2=pd.concat([dfE1,dfE3],axis=1).drop_duplicates().reset_index(drop=True)
df2.head(5)

,Dátum,Kategórianév,Terméknév,Mennyiség,Bevétel,Költség,Nyereség,Vevőnév,Vevő megye,Dátum,Vevőnév,Vevő megye,Vevő város,Bolt megye,Bolt város,Boltnév
0,2015-01-02,Iroda,Toll,800,320000,256000.0,64000.0,Kovács Bt,Pest,2015-01-02,Kovács Bt,Pest,Gödöllő,Heves,Eger,2. ABC
1,2015-01-05,Iroda,Toll,800,320000,204800.0,115200.0,Kovács Bt,Pest,2015-01-05,Kovács Bt,Pest,Gödöllő,Heves,Eger,2. ABC
2,2015-01-13,Játék,Labda,600,300000,240000.0,60000.0,Kovács Bt,Pest,2015-01-13,Kovács Bt,Pest,Gödöllő,Heves,Gyöngyös,1. ABC
3,2015-01-16,Játék,Labda,600,300000,192000.0,108000.0,Kovács Bt,Pest,2015-01-16,Kovács Bt,Pest,Gödöllő,Heves,Gyöngyös,1. ABC
4,2015-01-23,Játék,Labda,300,150000,120000.0,30000.0,Nagy Kft,Heves,2015-01-23,Nagy Kft,Heves,Gyöngyös,Heves,Gyöngyös,1. ABC

In [264]:
dfE1=pd.read_excel('Értekesites(nagyker).xlsx','E1') 
dfE3=pd.read_excel('Értekesites(nagyker).xlsx','E3')
df=pd.merge(dfE1,dfE3,on=['Dátum','Vevőnév','Vevő megye'], how='outer').drop_duplicates().reset_index(drop=True)
df.head(5)

,Dátum,Kategórianév,Terméknév,Mennyiség,Bevétel,Költség,Nyereség,Vevőnév,Vevő megye,Vevő város,Bolt megye,Bolt város,Boltnév
0,2015-01-02,Iroda,Toll,800,320000,256000.0,64000.0,Kovács Bt,Pest,Gödöllő,Heves,Eger,2. ABC
1,2015-01-05,Iroda,Toll,800,320000,204800.0,115200.0,Kovács Bt,Pest,Gödöllő,Heves,Eger,2. ABC
2,2015-01-13,Játék,Labda,600,300000,240000.0,60000.0,Kovács Bt,Pest,Gödöllő,Heves,Gyöngyös,1. ABC
3,2015-01-16,Játék,Labda,600,300000,192000.0,108000.0,Kovács Bt,Pest,Gödöllő,Heves,Gyöngyös,1. ABC
4,2015-01-23,Játék,Labda,300,150000,120000.0,30000.0,Nagy Kft,Heves,Gyöngyös,Heves,Gyöngyös,1. ABC

### 03

In [259]:
dfE=pd.read_excel('Értekesites(nagyker).xlsx','E') 
dfE4=pd.read_excel('Értekesites(nagyker).xlsx','E4')
df=pd.merge(dfE,dfE4,on=['Vevőnév','Vevőnév'],how='left')
df=df.drop(['Telefon'], axis = 1)
df.head(5)

,Dátum,Kategórianév,Terméknév,Mennyiség,Bevétel,Költség,Nyereség,Vevőnév,Vevő megye,Vevő város,Bolt megye,Bolt város,Boltnév,Vezető
0,2015-01-02,Iroda,Toll,800,320000,256000.0,64000.0,Kovács Bt,Pest,Gödöllő,Heves,Eger,2. ABC,VARGA ELEK
1,2015-01-05,Iroda,Toll,800,320000,204800.0,115200.0,Kovács Bt,Pest,Gödöllő,Heves,Eger,2. ABC,VARGA ELEK
2,2015-01-13,Játék,Labda,600,300000,240000.0,60000.0,Kovács Bt,Pest,Gödöllő,Heves,Gyöngyös,1. ABC,VARGA ELEK
3,2015-01-16,Játék,Labda,600,300000,192000.0,108000.0,Kovács Bt,Pest,Gödöllő,Heves,Gyöngyös,1. ABC,VARGA ELEK
4,2015-01-23,Játék,Labda,300,150000,120000.0,30000.0,Nagy Kft,Heves,Gyöngyös,Heves,Gyöngyös,1. ABC,NAGY KLÁRA

### 04

In [272]:
dfE=pd.read_excel('Értekesites(nagyker).xlsx','E') 
dfE4=pd.read_excel('Értekesites(nagyker).xlsx','E4')
df = pd.merge(dfE, dfE4, on=['Vevőnév','Vevőnév'], how="outer", indicator=True).query('_merge=="right_only"')
print(df.loc[:,"Vevőnév"])

306    Horváth Rt
307     Molnár Bt
308     Varga Kft
Name: Vevőnév, dtype: object

### 05

In [254]:
dfE=pd.read_excel('Értekesites(nagyker).xlsx','E')
dfE=dfE.pivot_table(index='Vevőnév',columns=['Kategórianév'],values='Nyereség',aggfunc='sum',margins=True)
dfE.rename(columns = {'All':'Nyereség'}, inplace = True)
dfE

Kategórianév      Iroda      Játék       Kert    Nyereség
Vevőnév
Kis Bt        1372064.0   694240.0  1600096.0   3666400.0
Kovács Bt     1326544.0   626240.0  1299696.0   3252480.0
Nagy Kft       867936.0  1246640.0  2139088.0   4253664.0
Szabó Rt       252736.0   852560.0  1305760.0   2411056.0
Tóth Kft      1195568.0  1230672.0  2047664.0   4473904.0
All           5014848.0  4650352.0  8392304.0  18057504.0

### 06

In [255]:
dfE=pd.read_excel('Értekesites(nagyker).xlsx','K1',skiprows=3)
dfE=pd.melt(dfE,id_vars=['Vevők','Végösszeg'],var_name="Város",value_name="Költség")
dfE.drop(dfE[dfE['Vevők'] == "Végösszeg"].index, inplace = True)
del dfE["Végösszeg"]
dfE

        Vevők     Város   Költség
0      Kis Bt    Cegléd   5823744
1   Kovács Bt    Cegléd   1658304
2    Nagy Kft    Cegléd   3458752
3    Szabó Rt    Cegléd    362880
4    Tóth Kft    Cegléd   3721984
6      Kis Bt      Eger   6003264
7   Kovács Bt      Eger   2852544
8    Nagy Kft      Eger   2370048
9    Szabó Rt      Eger   1542144
10   Tóth Kft      Eger   5186688
12     Kis Bt   Gödöllő   3361472
13  Kovács Bt   Gödöllő   1376512
14   Nagy Kft   Gödöllő   6120448
15   Szabó Rt   Gödöllő   2790400
16   Tóth Kft   Gödöllő   3227904
18     Kis Bt  Gyöngyös   8853120
19  Kovács Bt  Gyöngyös   5128192
20   Nagy Kft  Gyöngyös  13012032
21   Szabó Rt  Gyöngyös   7873280
22   Tóth Kft  Gyöngyös   9524864
24     Kis Bt    Hatvan    192000
25  Kovács Bt    Hatvan   3571968
26   Nagy Kft    Hatvan   4325056
27   Szabó Rt    Hatvan    970240
28   Tóth Kft    Hatvan   4534656

### 07

In [277]:
dfE=pd.read_excel('Értekesites(nagyker).xlsx','E')
dfC=pd.crosstab([dfE.Vevőnév,dfE['Bolt megye']],[dfE.Kategórianév],margins=True)
dfC.rename(columns = {'All':'Vásárlások száma'}, inplace = True)
dfC

Kategórianév          Iroda  Játék  Kert  Vásárlások száma
Vevőnév   Bolt megye
Kis Bt    Heves          31      7    10                48
          Pest           10     11     7                28
Kovács Bt Heves          22      9     6                37
          Pest            4      1     3                 8
Nagy Kft  Heves          22     12    20                54
          Pest            8     12     9                29
Szabó Rt  Heves           8      8     7                23
          Pest            0      1     5                 6
Tóth Kft  Heves          16     20    19                55
          Pest            8      5     5                18
All                     129     86    91               306

### 08

In [257]:
import numpy as np
dfE=pd.read_excel('Értekesites(nagyker).xlsx','E')
dfC=pd.crosstab([dfE['Bolt város']],[dfE['Terméknév']],margins=True,values=dfE.Nyereség,aggfunc=np.mean).round(2)
dfC.rename(columns = {'All':'Átlagos nyereség városonként'}, inplace = True)
dfC=dfC.fillna(0)
dfC

Terméknév,Ceruza,Füzet,Gereblye,Kanna,Kapa,Kártya,Labda,Toll,Ugrókötél,Ásó,Átlagos nyereség városonként
Bolt város,,,,,,,,,,,
Cegléd,49224.00,29915.43,110387.20,0.0,102336.00,14960.00,39680.00,60576.00,39680.0,196000.00,52702.96
Eger,48362.18,24800.00,96954.67,0.0,146464.00,40032.00,54533.33,38878.12,0.0,32386.67,51145.82
Gyöngyös,33590.86,11377.45,81722.67,123328.0,126630.40,43133.33,64601.48,49813.33,0.0,91728.00,64404.27
Gödöllő,17048.00,0.00,32928.00,112000.0,59249.78,59040.00,134960.00,33716.36,0.0,52080.00,49145.67
Hatvan,63133.09,28032.00,126000.00,192000.0,98380.80,19600.00,36540.00,94976.00,142464.0,81312.00,71902.00
All,42095.09,21382.86,81032.00,130496.0,102708.00,35627.83,57622.46,45522.67,91072.0,78585.38,59011.45